[submodule "OCanren"]
	path = OCanren
	url = https://github.com/Kakadu/OCanren.git
	branch = wildcards-2024
	shallow = true
[submodule "noCanren"]
	path = noCanren
	url = https://github.com/PLTools/noCanren.git
	branch = wildcard
	shallow = true

[submodule "faster-minikanren"]
	path = faster-minikanren
	url = https://github.com/Kakadu/faster-minikanren.git
	branch = master
[submodule "faster-miniKanren"]
	path = faster-miniKanren
	url = https://github.com/Kakadu/faster-minikanren.git
	branch = master
