[submodule "OCanren"]
	path = OCanren
	url = git@github.com:Kakadu/OCanren.git
	branch = klogic_of_ocanren
[submodule "noCanren"]
	path = noCanren
	url = https://github.com/PLTools/noCanren.git
	branch = wildcard
